<!DOCTYPE html>
<html lang="en">
{% extends "master.html" %}
{% load static %}


<head>

    <title>{% block title %}Create an Account{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'posts/myfirst.css' %}">

</head>

{% block content %}
<h2 class="register-header">Register</h2>
<body>
    <form method="POST" class="form-container">

        {% csrf_token %}
        
        {{ form.as_p }}
   <button type="submit" class="btn btn-success">Register</button>

    </form>

    <p class="register-header"><strong>Already have an account?</strong>
          <a href="/members/login"> Login Now</a>
    </p>
</body>
{% endblock %}
</html>