{% extends "master.html" %}

{% block title %}
  Account Posts
{% endblock %}




<style>
    /* Ticket Display */
    .ticket-item {
      background-color: #f9f9f9;
      border: 1px solid #ddd;
      margin-bottom: 20px;
      padding: 0;
      border-radius: 5px;
    }
    /* Ticket title */
    .ticket-title {
      background-color: #375BDC;
      color: white;
      padding: 20px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      margin: -1px -1px 20px;
    }
    /* Ticket Title Anchor */
    .ticket-title a {
      color: white;
    }
    /* Ticket Details */
    .ticket-details{
      margin-left: 10px;
    }
  </style>




{% block content %}
  <div class = "forum">
    <h1>Your Posts </h1>

    {% if user_posts %}
    <ul>
      {% for post in user_posts %}
        
        <li><p>
          User: {{ post.username }}
          <br>
          Post time: {{ post.time_of_post }}
          <br>
          Title: {{ post.title }}
          <br>
          Description: {{ post.post_description }}
          <br>
          {% if post.pdf_file %}
            File: <a href="{{ post.pdf_file.url }}" download>{{ post.pdf_file.name }}</a><br>
          {% endif %}
          {% if post.video_file %}
            <video width="560" height="315" controls>
              <source src="{{ post.video_file.url }}" type="video/mp4">
            </video>
            <br>
          {% endif %}
          {% if post.video_website_address %}
            Video URL: <a href="{{ post.video_website_address }}">{{ post.video_website_address }}</a>
          {% endif %}
          <br>
          <div class="container">
          <div class="row">
          <div class="col-sm-2">
            <a href="{% url 'update_post' post.id %}" class="btn btn-primary" style="color: white">Update</a>
          </div>
          <div class="col-sm-2">
            <form action="{% url 'delete_post' post.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger" style="color: white">Delete</button>
            </form>
            </div>
          </div>
          </div>
        </li>
        

        
        <!-- Display other post details as needed -->
      {% endfor %}
    </ul>
  {% else %}
    <p>You haven't posted anything yet.</p>
  {% endif %}
</div>

{% endblock %}