{% extends "master.html" %}

{% block title %}
  Educational Hub
{% endblock %}


{% block content %}
<div class = "main">
  <h1>  Educational Hub</h1>
  
  <p>Check out all our <a href="users/">users</a></p>

  <br></br>
  <h3> "Education is the most powerful weapon you can use to change the world." - Nelson Mandela.</h3>

  <br></br>
  <br></br>
  <br></br>
  <h3>Our website goal is about making education free and accessible to everyone, our website operates  freely with no payment whatsover. </h3>
  

  <br></br>
  <br></br>
  <br></br>

  <h4> Why are we doing this?</h4>

  <br></br>
  <br></br>
  <br></br>
  <p>Quality Education can make a big difference in a student life. It can help them get 
     get a good paying job. 
  </p>
</div>


  
{% endblock %}