{% extends "master.html" %}

{% block title %}
  Ticket Search
{% endblock %}


{% block content %}
<div class = "forum">

  {% if search_query %}

      <h1>  You Searched for  {{ search_query }}</h1>

      <ul>
        {% for post in posts %}
          <li>
            User: {{ post.user }}
            <br>
            Post Time:{{post.time_of_post}}
            <br>
            Title: {{ post.title }}
            <br>
            Description: {{ post.post_description}}
            <br>
            {% if post.pdf_file %}
              File: <a href="{{ post.pdf_file.url }}" download>{{ post.pdf_file.name }}</a>
              <br>
            {% endif %}
            {% if post.video_file %}
              <video width="560" height="315" controls>
                <source src="{{ post.video_file.url }}" type="video/mp4">
              </video>        
              <br>
            {% endif %}
            {% if post.video_website_address %}
                Video URL: <a href = "{{post.video_website_address}}">{{post.video_website_address}}</a>
            {% endif %}
    
          </li>
        {% endfor %}
      </ul>

  {% else %}
      <h1>  You Searched for nothing</h1>

  {% endif %}


</div>
  
{% endblock %}