{% extends "master.html" %}

{% block title %}
  {{ subject.subject }} Courses
{% endblock %}

{% block search %}
<form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'search_tickets' %}">
  {% csrf_token %}
  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search_query" style="color: #375BDC;">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
{% endblock %}


{% block content %}
  <div class = "mycard"> 
  <h1>{{ subject.subject }} Courses</h1>   
  <ul>
    {% for course in courses %}
      <li><a href="{{ subject.subject}}/{{ course.course_name }}">{{ course.course_name }}</a></li>
    {% endfor %}
  </ul>
    
  </div>
{% endblock %}